In [2]:
import numpy as np
import pandas as pd

data=pd.read_csv('https://raw.githubusercontent.com/Subiksh-coder/car_price_prediction/refs/heads/main/quikr_car%20-%20quikr_car.csv')
backup=data.copy()

In [36]:
data = backup.copy()
data['name']=data['name'].str.split().str.slice(start=0,stop=3).str.join(' ')

data=data[data['year'].str.isnumeric()]
data['year']=data['year'].astype(int)


data=data[data['Price'].str.lower()!='ask for price']
data['Price']=data['Price'].str.replace(',','').astype(int)


data['kms_driven']=data['kms_driven'].str.split().str.get(0).str.replace(',','')
data=data[data['kms_driven'].str.isnumeric()]
data['kms_driven']=data['kms_driven'].astype(int)

data=data[data['fuel_type']!=np.nan]

data.describe(include='all')

,name,company,year,Price,kms_driven,fuel_type
count,817,817,817.000000,8.170000e+02,817.000000,816
unique,254,25,NaN,NaN,NaN,3
top,Maruti Suzuki Swift,Maruti,NaN,NaN,NaN,Petrol
freq,51,221,NaN,NaN,NaN,428
mean,NaN,NaN,2012.440636,4.115503e+05,46250.714810,NaN
std,NaN,NaN,4.002354,4.749173e+05,34283.745254,NaN
min,NaN,NaN,1995.000000,3.000000e+04,0.000000,NaN
25%,NaN,NaN,2010.000000,1.750000e+05,27000.000000,NaN
50%,NaN,NaN,2013.000000,2.999990e+05,41000.000000,NaN
75%,NaN,NaN,2015.000000,4.900000e+05,56758.000000,NaN
max,NaN,NaN,2019.000000,8.500003e+06,400000.000000,NaN

In [37]:
data.to_csv('cleaned_data.csv')